# Cleaning:

The notebook cleans the collected and merged ACS data, preparing it for the EDA process. Noteable outliers regarding data consistency are Census Tracts including the National Mall, Georgetown University, and two DC aggregate observations included in the ACS data-download. Given a population of 60, the National Mall Census Tract and DC aggregate observations are dropped. The Georgetown University Census Tract is kept, but the missing values are converted to zeros. This will not present an issiue with clustering, and given its status as the only Census Tract in DC that is specific to a university and not surrounding residential areas, converting missing values to zeros will not interfere in the modeling process. I.e., the models will still capture the Census Tract as an outlier.

In [164]:
# Import Libraries:

import numpy as np
import pandas as pd

In [165]:
# Import data, set index to 'geo_id':

df = pd.read_csv('../data/outputs/01_merged.csv', index_col=False)
df = df.set_index('geo_id')

## Drop Unneeded Observations:

In [166]:
# Drop observations aggregating DC data (ACS includes aggregate DC data in download): 
# Aggregated DC observations by geo_id index = ['0400000US11', '1600000US1150000']
# Census Tracts to drop -- DC Mall/Whitehouse = ['1400000US11001006202']

df = df.drop(index = ['0400000US11', '1600000US1150000', '1400000US11001006202'])

## Drop Duplicate Name Columns from Merge:

In [167]:
df = df.drop(columns=['name_y', 'name_x.1', 'name_y.1'])

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, 1400000US11001000100 to 1400000US11001011100
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_x                    178 non-null    object
 1   total_pop                 178 non-null    int64
 2   pct_male                  178 non-null    float64
 3   median_age                178 non-null    object
 4   pct_hisp_latino           178 non-null    float64
 5   pce_white                 178 non-null    float64
 6   pct_black                 178 non-null    float64
 7   pct_american_ind          178 non-null    float64
 8   pct_asian                 178 non-null    float64
 9   pct_hawaiian_pacisldr     178 non-null    float64
 10  pct_other_race            178 non-null    float64
 11  pct_unemployed            178 non-null    float64
 12  avg_wrk_commute_mins      178 non-null    object
 13  median_hsld_income        178 non-null    object
 14  per_cap_income            178 non-null    object
 15  total_households          178 non-null    int64
 16  avg_household_size        178 non-null    object
 17  avg_family_size           178 non-null    object
 18  pop_in_households         178 non-null    int64
 19  pct_bach_degree           178 non-null    float64
 20  total_housing_units       178 non-null    int64
 21  occupied_housing_units    178 non-null    int64
 22  total_units_in_structure  178 non-null    int64
 23  units_built_after_2014    178 non-null    int64
 24  owner_occupied_units      178 non-null    int64
 25  renter_occupied_units     178 non-null    int64
dtypes: float64(10), int64(9), object(7)
memory usage: 37.5+ KB

## Remove Non-Numeric Characters from Variables:

In [169]:
# Remove + character from 'median_hsld_income' column:

df['median_hsld_income'] = df['median_hsld_income'].str.rstrip('+')

In [170]:
# Replace Georgetown Unioversity Census Tract missing data with '0.' For clustering purposes, this will suffice. 

df = df.replace('-', 0)

In [171]:
# Remove commas from ACS 'median_hsld_income' column:

df['median_hsld_income'] = df['median_hsld_income'].replace(',','', regex=True)

## Convert Columns to Numeric:

In [172]:
# Convert columns to numeric:

df[['median_age', 
    'median_hsld_income', 
    'avg_wrk_commute_mins',
    'per_cap_income',
    'avg_household_size',
    'avg_family_size']] = df[['median_age', 
                              'median_hsld_income', 
                              'avg_wrk_commute_mins',
                              'per_cap_income',
                              'avg_household_size',
                              'avg_family_size']].apply(pd.to_numeric)

In [173]:
# Ensure fields are numeric, and 178 entries, no null values, and drop any existing duplicates:

df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, 1400000US11001000100 to 1400000US11001011100
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   name_x                    178 non-null    object
 1   total_pop                 178 non-null    int64
 2   pct_male                  178 non-null    float64
 3   median_age                178 non-null    float64
 4   pct_hisp_latino           178 non-null    float64
 5   pce_white                 178 non-null    float64
 6   pct_black                 178 non-null    float64
 7   pct_american_ind          178 non-null    float64
 8   pct_asian                 178 non-null    float64
 9   pct_hawaiian_pacisldr     178 non-null    float64
 10  pct_other_race            178 non-null    float64
 11  pct_unemployed            178 non-null    float64
 12  avg_wrk_commute_mins      178 non-null    float64
 13  median_hsld_income        178 non-null    int64
 14  per_cap_income            178 non-null    int64
 15  total_households          178 non-null    int64
 16  avg_household_size        178 non-null    float64
 17  avg_family_size           178 non-null    float64
 18  pop_in_households         178 non-null    int64
 19  pct_bach_degree           178 non-null    float64
 20  total_housing_units       178 non-null    int64
 21  occupied_housing_units    178 non-null    int64
 22  total_units_in_structure  178 non-null    int64
 23  units_built_after_2014    178 non-null    int64
 24  owner_occupied_units      178 non-null    int64
 25  renter_occupied_units     178 non-null    int64
dtypes: float64(14), int64(11), object(1)
memory usage: 37.5+ KB

## Export Clean Data for EDA:

In [174]:
# Export without index:

df.to_csv('../data/outputs/02_merged_clean.csv', index='geo_id')

In [175]:
# EDA conducted in notebook '03_eda.ipynb'