## Read in and Explore Data:

In [1]:
# Import Libraries:

import pandas as pd

In [4]:
# Read in conspiracy theory data:

conspire = pd.read_csv('../data/conspire_pull.csv')

In [5]:
# Read in science data:

science = pd.read_csv('../data/science_pull.csv')

In [12]:
# Conspire is 12k rows x 5 columns

conspire.shape

(12000, 5)

In [17]:
# Science is 12k rows by 5 columns

science.shape

(12000, 5)

### Explore Missing Data:

In [6]:
conspire.head()

,Unnamed: 0,created_utc,subreddit,selftext,title
0,0,1587078122,conspiracytheories,Who else has noticed how the baby is being hit...,The coronavirus
1,1,1587076875,conspiracytheories,We are all pawns in this political game. Relea...,"COVID-19 Power, Control, and Profit!"
2,2,1587075153,conspiracytheories,NaN,Dr. Andrew Kaufman disputes COVID19
3,3,1587074999,conspiracytheories,[removed],Do someone remember an suppost radio transmiss...
4,4,1587074240,conspiracytheories,"Hey frendos, \n\nSomeone close to me has asser...",Question: Bill Gates Malaria Vaccine Mutates A...

In [7]:
science.head()

,Unnamed: 0,created_utc,subreddit,selftext,title
0,0,1587081052,science,NaN,Tens to Hundreds of Gigahertz Stable Pulsed Al...
1,1,1587079564,science,NaN,"iPhone 11 64G,Double Card Double Wait, Genuine..."
2,2,1587078047,science,[deleted],Dornaz alfa koronavirüs tedavisinde kullanılab...
3,3,1587078029,science,[deleted],Finally a solution!
4,4,1587077467,science,[deleted],An analysis of radiation from the Big Bang sug...

In [10]:
conspire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
Unnamed: 0     12000 non-null int64
created_utc    12000 non-null int64
subreddit      12000 non-null object
selftext       5773 non-null object
title          12000 non-null object
dtypes: int64(2), object(3)
memory usage: 468.9+ KB

In [ ]:
# The conspiracy dataset is missing

In [11]:
science.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 5 columns):
Unnamed: 0     12000 non-null int64
created_utc    12000 non-null int64
subreddit      12000 non-null object
selftext       248 non-null object
title          12000 non-null object
dtypes: int64(2), object(3)
memory usage: 468.9+ KB

In [25]:
conspire.isnull().sum()

Unnamed: 0        0
created_utc       0
subreddit         0
selftext       6227
title             0
dtype: int64

In [23]:
science.isnull().sum()

Unnamed: 0         0
created_utc        0
subreddit          0
selftext       11752
title              0
dtype: int64

In [27]:
# The Conspire dataset is missing 51% of 'selfttext' entries.
# The Science dataset is mising 98% of 'selftext' entries.

# We'll likely need to use 'title' as a predictor of thread membership, 
# given the high volume of missing values.